<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76ff0a61-4173-47cd-94fc-594bb9037d0c" Alias="Dropdown Left/Right" Level="1">
  <Info>
    <Name>Dropdown Left/Right</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Left",
    "Right"
  ]
}]]></Config>
</DataType>