<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76ff0a61-4173-47cd-94fc-594bb9037d0c" Alias="Image allign" Level="1">
  <Info>
    <Name>Image allign</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Left",
    "Right",
    "Center",
    "Top",
    "Bottom"
  ]
}]]></Config>
</DataType>