<?xml version="1.0" encoding="utf-8"?>
<DataType Key="391c9563-0998-478c-b85b-e8518f25b55a" Alias="Page Blocks" Level="1">
  <Info>
    <Name>Page Blocks</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7dbb02a1-7caa-4771-8397-3f064d89d278",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": "Hero: {heading}"
    },
    {
      "contentElementTypeKey": "a5d24cd8-9fff-48d6-a911-8830716a545b",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": "{heading}"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>