<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92523f50-0f56-4f6e-86df-ee28ac6db5cf" Alias="Text:Short" Level="1">
  <Info>
    <Name>Text:Short</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>