#projects .project-card {
    text-decoration: none;
}
#projects .project-body > * {
    padding: .25rem;
}

#projects .project-intro {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
    #projects .project-intro p {
        margin: 0;
    }

/* Tiles view */
#projects.view-tiles .project-meta {
    border-top: 1px solid var(--bs-card-border-color);
}

/* List view */
#projects.view-list .project {
    flex: 0 0 100% !important;
}

#projects.view-list .project-card {
    flex-direction: row;
    gap: 1rem;
}

#projects.view-list .project-body {
    width: 100%;
}

#projects.view-list .image-container .project-img {
    max-width: 220px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: var(--bs-border-radius);
}

#projects.view-list .project-meta {
    min-width: 200px;
    margin-left: auto;
}

@media (max-width:767.98px) {
    #projects .project-intro {
        display: none;
    }

    #projects.view-list .project-meta {
        border-top: 1px solid var(--bs-card-border-color);
    }
}
@media (min-width:768px) {
    #projects.view-list .project-body {
        display: flex;
    }
    #projects.view-list .project-meta {
        border-left: 1px solid var(--bs-card-border-color);
        width: 30%;
    }
}
