#projects .project-card {
    text-decoration: none;
}

#projects .project-intro {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
    #projects .project-intro p {
        margin: 0;
    }

/* List view */
#projects.view-list .project {
    flex: 0 0 100% !important;
}

#projects.view-list .project-card {
    flex-direction: row;
    gap: 1rem;
}

#projects.view-list .project-body {
    width: 100%;
}
    #projects.view-list .project-body > * {
        padding: .25rem;
    }

#projects.view-list .image-container {
    align-self: center;
}
    #projects.view-list .image-container .project-img {
        border-radius: var(--bs-border-radius);
        max-width: 220px;
    }

#projects.view-list .project-meta {
    margin-left: auto;
}

@media (max-width:767.98px) {
    #projects .project-intro {
        display: none;
    }
}
@media (min-width:768px) {
    #projects.view-list .project-body {
        display: flex;
    }
    #projects.view-list .project-meta {
        border-left: 1px solid var(--bs-card-border-color);
        width: 30%;
    }
}
