
/* Navbar styles */
.nav-link.active {
    text-decoration: underline;
}
.navbar {
    /*background-color: #fff9e5;*/
    background-color: var(--bs-white);
    border-bottom: 1px solid var(--bs-gray-400);
}

