<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eccc2a49-2df9-420d-8e5d-55b60adf5561" Alias="homePage" Level="2">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>blockPageLayout</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="02a67c07-543e-48da-b072-d23693dd2605">blockPageLayout</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1c4c6fc6-b885-4a18-8d15-0fd7d99f3a98" SortOrder="0">blockPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>86f6351a-25b2-4892-b3c9-73753a7d6d2a</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>391c9563-0998-478c-b85b-e8518f25b55a</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>09e7ca37-6a6e-4b4a-afb3-56fd77aabe9e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>