/* Variables */
/* ====================*/
[data-bs-theme=light] {
    --bs-secondary-bg-rgb: 255, 249, 229;
    --bs-tertiary-bg-rgb: 253, 251, 248;
}
[data-bs-theme=dark] {

}

/* ====================*/
/* Common */
/* ====================*/
html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1300px;
}

.overlay {
    inset: 0;
    display: none;
    z-index: 1035;
    position: fixed;
    touch-action: none;
    overscroll-behavior: contain;
    background-color: rgba(0, 0, 0, 0.1);
}
    .overlay.show {
        opacity: 1;
        display: block;
        pointer-events: auto;
    }
/* ====================*/

/* ====================*/
/* Common - componentes */
/* ====================*/
.form-check-input {
    width: 24px;
    height: 24px;
}
.form-check-input:checked {
    border-color: var(--bs-border-color);
    background-color: rgb(var(--bs-warning-rgb));
}
/* ====================*/

/* Navbar styles */
/* ====================*/
header {
    z-index: 1030 !important;
}
.navbar {
    background-color: var(--bs-body-bg);
    border-bottom: 1px solid var(--bs-border-color);
}
.breadcrumb-nav {
    border-bottom: 1px solid var(--bs-light-border-subtle);
}
.breadcrumb {
    margin-bottom: 0 !important;
}
/* ====================*/

/* sidebar area */
/* ====================*/
.sidebar {
    height: 100%;
    min-width: 280px;
    max-width: 80vw;
    transition: left 0.4s ease-in-out;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
}
    .sidebar.open {
        left: 0;
        display: block;
    }
@media (max-width: 960px) {
    .sidebar {
        top: 0;
        width: 380px;
        left: -400px;
        z-index: 1040;
        position: fixed;
    }
}
/* ====================*/

/* Star rating*/
/* ====================*/
.star-rating {
    display: flex;
}
    .star-rating .star {
        line-height: 1;
        font-size: 1.6rem;
        color: transparent;
        -webkit-background-clip: text !important;
    }
/* ====================*/

/* Footer link underline */
/* ====================*/
.hover-underline {
    position: relative;
    text-decoration: none;
}
    .hover-underline::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: currentColor;
        transform: translateX(-50%);
        transition: width .25s ease;
    }
    .hover-underline:not(.active):hover::after {
        width: 100%;
    }
    .hover-underline.active::after {
        width: 100%;
        transition: none;
    }
/* ====================*/
