<?xml version="1.0" encoding="utf-8"?>
<Media Key="47d771b5-dfef-49da-95b5-7c5879e6ab01" Alias="ChatGPT Image Oct 11, 2025, 12_23_57 PM.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ChatGPTImageOct11202512_23_57PMpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-11T12:24:24</CreateDate>
    <NodeName Default="ChatGPT Image Oct 11, 2025, 12_23_57 PM.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hk3jd2mg/chatgpt-image-oct-11-2025-12_23_57-pm.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>