<?xml version="1.0" encoding="utf-8"?>
<Media Key="35f61efa-7c53-4022-8ed5-79429c4ba442" Alias="CodeScreenShot.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CodeScreenShotpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-05T15:05:26</CreateDate>
    <NodeName Default="CodeScreenShot.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oxklbaz0/codescreenshot.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>