<?xml version="1.0" encoding="utf-8"?>
<Media Key="3aae5f18-0beb-42e4-9ed0-78adeaec6ee4" Alias="Contact - home (2).png" Level="2">
  <Info>
    <Parent Key="25e3620c-aec0-47eb-8563-a8c63c9b3dc4">Images</Parent>
    <Path>/Images/ContactHome2Png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-11T17:20:06</CreateDate>
    <NodeName Default="Contact - home (2).png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/s4kprdec/contact-home-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>