<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9d0926f-9701-487e-b50f-d043c0682795" Alias="Profielfoto_1" Level="2">
  <Info>
    <Parent Key="25e3620c-aec0-47eb-8563-a8c63c9b3dc4">Images</Parent>
    <Path>/Images/Profielfoto_1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-11T15:58:47</CreateDate>
    <NodeName Default="Profielfoto_1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/2bmjmd1i/_profielfoto_4-square.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>