<?xml version="1.0" encoding="utf-8"?>
<Media Key="21ad2fae-27e3-49b9-b3ab-ad9642fa82e5" Alias="ProfielFoto_1.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProfielFoto_1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-11T11:35:55</CreateDate>
    <NodeName Default="ProfielFoto_1.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ehspxf2k/profielfoto_1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>