<?xml version="1.0" encoding="utf-8"?>
<Media Key="683f1f13-310d-476c-83a1-8fb194b459aa" Alias="Vaardigheden - home (3).png" Level="2">
  <Info>
    <Parent Key="25e3620c-aec0-47eb-8563-a8c63c9b3dc4">Images</Parent>
    <Path>/Images/VaardighedenHome3Png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-11T17:08:24</CreateDate>
    <NodeName Default="Vaardigheden - home (3).png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ttkhtxte/vaardigheden-home-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>