<?xml version="1.0" encoding="utf-8"?>
<Content Key="be6b98b2-2e38-4d27-aa92-b1ab064e25a7" Alias="About me" Level="2">
  <Info>
    <Parent Key="ea9ac6b2-35b2-4da8-97b2-727dd00fc8f1">Home</Parent>
    <Path>/Home/AboutMe</Path>
    <Trashed>false</Trashed>
    <ContentType>blockPage</ContentType>
    <CreateDate>2025-10-08T15:45:34</CreateDate>
    <NodeName Default="About me" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="02a67c07-543e-48da-b072-d23693dd2605">blockPageLayout</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7dbb02a1-7caa-4771-8397-3f064d89d278",
      "udi": null,
      "key": "82986e33-fe9d-4909-9626-a03f09c21fee",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "textOverlay",
          "value": "Een hele pagina over mij!"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "82986e33-fe9d-4909-9626-a03f09c21fee",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [],
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "82986e33-fe9d-4909-9626-a03f09c21fee",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </blocks>
  </Properties>
</Content>