<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d1c1146-b92c-46f5-b2ff-f7ae67b5a64a" Alias="About me" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutMe</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutMe</ContentType>
    <CreateDate>2025-10-05T15:31:56</CreateDate>
    <NodeName Default="About me" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e4d0f028-87bd-4fa9-b751-5056d2c0f667">AboutMe</Template>
  </Info>
  <Properties>
    <hero>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7dbb02a1-7caa-4771-8397-3f064d89d278",
      "udi": null,
      "key": "f4181379-e48e-4f59-8f57-778daa4644df",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "heading",
          "value": "Over mij"
        },
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "subtitle",
          "value": "Een hele pagina over mij"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f4181379-e48e-4f59-8f57-778daa4644df",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [],
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "f4181379-e48e-4f59-8f57-778daa4644df",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </hero>
  </Properties>
</Content>