<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f2b4266-1a01-46b2-a149-6aa70fe4841f" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-10-05T14:01:17</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e811d0bc-9768-4a69-baae-9052a2a70017">home</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7dbb02a1-7caa-4771-8397-3f064d89d278",
      "udi": null,
      "key": "5b78ef11-7f7a-4e7c-8bde-3074a1059d62",
      "values": [
        {
          "editorAlias": "Umbraco.MediaPicker3",
          "culture": null,
          "segment": null,
          "alias": "backgroundImage",
          "value": "[{\u0022key\u0022:\u002290f7f22b-e073-4a72-9d8b-d0581e269876\u0022,\u0022mediaKey\u0022:\u002235f61efa-7c53-4022-8ed5-79429c4ba442\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
        },
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "subtitle",
          "value": "Blablabla"
        },
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "heading",
          "value": "Welkom op mijn portfolio website"
        }
      ]
    },
    {
      "contentTypeKey": "a5d24cd8-9fff-48d6-a911-8830716a545b",
      "udi": null,
      "key": "041c8815-ff5c-4d61-a028-a10f4f655716",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "heading",
          "value": "Mijn eerste project"
        },
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "body",
          "value": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EMijn eerste project blablabla\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5b78ef11-7f7a-4e7c-8bde-3074a1059d62",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "041c8815-ff5c-4d61-a028-a10f4f655716",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [],
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "5b78ef11-7f7a-4e7c-8bde-3074a1059d62",
        "settingsKey": null
      },
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [],
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "041c8815-ff5c-4d61-a028-a10f4f655716",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </content>
    <intro>
      <Value><![CDATA[Deze website gaat over mij :)]]></Value>
    </intro>
  </Properties>
</Content>