<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea9ac6b2-35b2-4da8-97b2-727dd00fc8f1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-08T15:43:29</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="02a67c07-543e-48da-b072-d23693dd2605">blockPageLayout</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a5d24cd8-9fff-48d6-a911-8830716a545b",
      "udi": null,
      "key": "0ac3dc8f-9474-4028-b3b8-471e86a53ae3",
      "values": [
        {
          "editorAlias": "Umbraco.MediaPicker3",
          "culture": null,
          "segment": null,
          "alias": "image",
          "value": "[{\u0022key\u0022:\u0022f1f83b19-d499-4476-b1ec-80cb2a7a1867\u0022,\u0022mediaKey\u0022:\u002221ad2fae-27e3-49b9-b3ab-ad9642fa82e5\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
        },
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "title",
          "value": "Over mij"
        },
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "body",
          "value": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EKom hier alles over mij te weten!\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        },
        {
          "editorAlias": "Umbraco.DropDown.Flexible",
          "culture": null,
          "segment": null,
          "alias": "imageAllign",
          "value": "[\u0022Left\u0022]"
        }
      ]
    },
    {
      "contentTypeKey": "a5d24cd8-9fff-48d6-a911-8830716a545b",
      "udi": null,
      "key": "2a32c610-49ac-4d3c-9d4d-21436ef27fd0",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "title",
          "value": "Mijn portfolio"
        },
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "body",
          "value": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EAlles wat ik heb gemaakt en waaraan ik mee heb gewerkt\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        },
        {
          "editorAlias": "Umbraco.MediaPicker3",
          "culture": null,
          "segment": null,
          "alias": "image",
          "value": "[{\u0022key\u0022:\u0022b3031bb4-cc35-4e88-9060-755f208552aa\u0022,\u0022mediaKey\u0022:\u002247d771b5-dfef-49da-95b5-7c5879e6ab01\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
        },
        {
          "editorAlias": "Umbraco.DropDown.Flexible",
          "culture": null,
          "segment": null,
          "alias": "imageAllign",
          "value": "[\u0022Right\u0022]"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "0ac3dc8f-9474-4028-b3b8-471e86a53ae3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2a32c610-49ac-4d3c-9d4d-21436ef27fd0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [],
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "0ac3dc8f-9474-4028-b3b8-471e86a53ae3",
        "settingsKey": null
      },
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [],
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "2a32c610-49ac-4d3c-9d4d-21436ef27fd0",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </blocks>
  </Properties>
</Content>