<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea9ac6b2-35b2-4da8-97b2-727dd00fc8f1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-08T15:43:29</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="02a67c07-543e-48da-b072-d23693dd2605">blockPageLayout</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a5d24cd8-9fff-48d6-a911-8830716a545b",
      "udi": null,
      "key": "0ac3dc8f-9474-4028-b3b8-471e86a53ae3",
      "values": [
        {
          "editorAlias": "Umbraco.MediaPicker3",
          "culture": null,
          "segment": null,
          "alias": "image",
          "value": "[{\u0022key\u0022:\u0022055a2d8f-1421-433e-9104-d9a5a6642b85\u0022,\u0022mediaKey\u0022:\u0022b9d0926f-9701-487e-b50f-d043c0682795\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
        },
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "title",
          "value": "Over mij"
        },
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "body",
          "value": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EKom hier alles over mij te weten!\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        },
        {
          "editorAlias": "Umbraco.DropDown.Flexible",
          "culture": null,
          "segment": null,
          "alias": "imagePosition",
          "value": "[\u0022Left\u0022]"
        },
        {
          "editorAlias": "Umbraco.MultiUrlPicker",
          "culture": null,
          "segment": null,
          "alias": "link",
          "value": "[{\u0022name\u0022:\u0022About me\u0022,\u0022target\u0022:null,\u0022udi\u0022:\u0022umb://document/be6b98b22e384d27aa92b1ab064e25a7\u0022,\u0022url\u0022:null,\u0022queryString\u0022:\u0022\u0022}]"
        }
      ]
    },
    {
      "contentTypeKey": "a5d24cd8-9fff-48d6-a911-8830716a545b",
      "udi": null,
      "key": "2a32c610-49ac-4d3c-9d4d-21436ef27fd0",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "title",
          "value": "Mijn portfolio"
        },
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "body",
          "value": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EAlles wat ik heb gemaakt en waaraan ik mee heb gewerkt\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        },
        {
          "editorAlias": "Umbraco.MediaPicker3",
          "culture": null,
          "segment": null,
          "alias": "image",
          "value": "[{\u0022key\u0022:\u0022748b27e1-b43a-4ada-a195-fbe38e8cbb1a\u0022,\u0022mediaKey\u0022:\u00220bc8c019-7ded-4e6b-a7c4-17dcdc5e1c60\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
        },
        {
          "editorAlias": "Umbraco.DropDown.Flexible",
          "culture": null,
          "segment": null,
          "alias": "imagePosition",
          "value": "[\u0022Right\u0022]"
        },
        {
          "editorAlias": "Umbraco.MultiUrlPicker",
          "culture": null,
          "segment": null,
          "alias": "link",
          "value": "[{\u0022name\u0022:\u0022Portfolio\u0022,\u0022target\u0022:null,\u0022udi\u0022:\u0022umb://document/80ac6295ce464368b46b79aad5c248ea\u0022,\u0022url\u0022:null,\u0022queryString\u0022:null}]"
        }
      ]
    },
    {
      "contentTypeKey": "a5d24cd8-9fff-48d6-a911-8830716a545b",
      "udi": null,
      "key": "322ed5bd-1fce-4e56-a602-86a04d5fa2ef",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "title",
          "value": "Mijn vaardigheden"
        },
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "body",
          "value": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EBekijk al mijn vaardigheden hier\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        },
        {
          "editorAlias": "Umbraco.MediaPicker3",
          "culture": null,
          "segment": null,
          "alias": "image",
          "value": "[{\u0022key\u0022:\u0022c1de376a-4e25-4bc0-9823-4d1e3696f2f8\u0022,\u0022mediaKey\u0022:\u0022683f1f13-310d-476c-83a1-8fb194b459aa\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
        },
        {
          "editorAlias": "Umbraco.DropDown.Flexible",
          "culture": null,
          "segment": null,
          "alias": "imagePosition",
          "value": "[\u0022Left\u0022]"
        },
        {
          "editorAlias": "Umbraco.MultiUrlPicker",
          "culture": null,
          "segment": null,
          "alias": "link",
          "value": "[{\u0022name\u0022:\u0022My skills\u0022,\u0022target\u0022:null,\u0022udi\u0022:\u0022umb://document/c2a91f06641345d5b15f173a53c08452\u0022,\u0022url\u0022:null,\u0022queryString\u0022:null}]"
        }
      ]
    },
    {
      "contentTypeKey": "a5d24cd8-9fff-48d6-a911-8830716a545b",
      "udi": null,
      "key": "ef625df9-17b3-4494-9389-4133193a22ab",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "title",
          "value": "Contact"
        },
        {
          "editorAlias": "Umbraco.MediaPicker3",
          "culture": null,
          "segment": null,
          "alias": "image",
          "value": "[{\u0022key\u0022:\u0022563ab104-fed4-49ff-a7e4-741ef9917390\u0022,\u0022mediaKey\u0022:\u00223aae5f18-0beb-42e4-9ed0-78adeaec6ee4\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
        },
        {
          "editorAlias": "Umbraco.DropDown.Flexible",
          "culture": null,
          "segment": null,
          "alias": "imagePosition",
          "value": "[\u0022Right\u0022]"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "0ac3dc8f-9474-4028-b3b8-471e86a53ae3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2a32c610-49ac-4d3c-9d4d-21436ef27fd0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "322ed5bd-1fce-4e56-a602-86a04d5fa2ef",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ef625df9-17b3-4494-9389-4133193a22ab",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [],
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "0ac3dc8f-9474-4028-b3b8-471e86a53ae3",
        "settingsKey": null
      },
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [],
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "2a32c610-49ac-4d3c-9d4d-21436ef27fd0",
        "settingsKey": null
      },
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [],
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "322ed5bd-1fce-4e56-a602-86a04d5fa2ef",
        "settingsKey": null
      },
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [],
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "ef625df9-17b3-4494-9389-4133193a22ab",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </blocks>
  </Properties>
</Content>