<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2a91f06-6413-45d5-b15f-173a53c08452" Alias="My skills" Level="2">
  <Info>
    <Parent Key="ea9ac6b2-35b2-4da8-97b2-727dd00fc8f1">Home</Parent>
    <Path>/Home/MySkills</Path>
    <Trashed>false</Trashed>
    <ContentType>blockPage</ContentType>
    <CreateDate>2025-10-08T15:45:58</CreateDate>
    <NodeName Default="My skills" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="02a67c07-543e-48da-b072-d23693dd2605">blockPageLayout</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7dbb02a1-7caa-4771-8397-3f064d89d278",
      "udi": null,
      "key": "3efc1c57-128d-49ed-bb07-9aa429e38d95",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "heading",
          "value": "My skills"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3efc1c57-128d-49ed-bb07-9aa429e38d95",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [],
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "3efc1c57-128d-49ed-bb07-9aa429e38d95",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </blocks>
  </Properties>
</Content>