<?xml version="1.0" encoding="utf-8"?>
<Content Key="80ac6295-ce46-4368-b46b-79aad5c248ea" Alias="My work" Level="2">
  <Info>
    <Parent Key="ea9ac6b2-35b2-4da8-97b2-727dd00fc8f1">Home</Parent>
    <Path>/Home/MyWork</Path>
    <Trashed>false</Trashed>
    <ContentType>blockPage</ContentType>
    <CreateDate>2025-10-08T15:45:48</CreateDate>
    <NodeName Default="My work" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="02a67c07-543e-48da-b072-d23693dd2605">blockPageLayout</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7dbb02a1-7caa-4771-8397-3f064d89d278",
      "udi": null,
      "key": "c6bd3c45-2d10-463e-a123-11b04ff34dc4",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "heading",
          "value": "My work"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c6bd3c45-2d10-463e-a123-11b04ff34dc4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [],
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "c6bd3c45-2d10-463e-a123-11b04ff34dc4",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </blocks>
  </Properties>
</Content>